<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.spring2.tour.mapper.TourMapper">

    <select id="all"
            resultType="com.multi.spring2.tour.domain.TourVO">
        SELECT * FROM tour;
    </select>

</mapper>
